:root{
    --symbolsc: rgb(182, 202, 212); 
    --numbc: rgb(238, 231, 231);
    --f-size: 2rem;
    --f-wei: 420;
    --paddtop: 14px;
    --brdrs: solid darkgray 1px;
    --f-family: Arial, Helvetica, sans-serif;
}

.calc{
    font-family: var(--f-family);
    width: 400px;
    border: solid 0.1px white;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 70px);
    grid-template-areas: "display display display display"
                         "plus minus multi divi"
                         "seven eight nine equal"
                         "four five six equal"
                         "one two three equal"
                         "zero point reset equal";
}



.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: display;
    background-color: rgb(35, 36, 61);
    color: white;
    font-size:var(--f-size);
    font-weight: var(--f-wei);  
    text-align: right;
    font-size: 2.5rem;
    align-items: center;
    padding-right: 10px;
}

.equal{
    grid-area: equal;
    background-color: salmon;
    margin: 0;
    font-size:var(--f-size);
    font-weight: var(--f-wei);
    text-align: center;
    line-height: 210px;
}

.digit{
    margin: 0;
    background-color: var(--numbc);
    border: var(--brdrs);
    text-align: center;
    padding-top: var(--paddtop);
    font-size:var(--f-size);
    font-weight: var(--f-wei); 
}

.bless{
    border-left: hidden;
}

.symbol{
    background-color: var(--symbolsc);
}



.plus{
    grid-area: plus; 
}

.minus{
    grid-area: minus;
 
}

.multi{
    grid-area: multi;
}

.divi{
    grid-area: divi;
}


.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}
.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.zero{
    grid-area: zero;
}

.point{
    grid-area: point;
}

.reset{
    grid-area: reset;
}


